/*mise en forme du titre*/

H1{
    text-align: center;
    color: white;
    padding: 5% 0% 0% 0%;
    text-decoration: solid;
}

#middleplane
{
    margin-left: 6%;
    padding: 4% ;

}
/*mise en forme du carrousel*/
#presentationJeux
{
    border: 2px white solid;
    padding:2%;
    margin-left: 6%;
    margin-top: 4%;
}
/*mise en forme du block d'explication*/
#explication
{
    clear: both;
    width: 100%;
    margin-top:4%;
    margin-left :6%;
    background-color: #17085a40;
}
H2
{
    text-align: left;
    color: white;
    font-family: "Noto Sans";
    text-decoration: underline;
}
#texte
{
    margin-left: 10%;
    padding: 2% ;
    margin-top: 4%;
    text-align: justify;
    opacity:1;
    color:white;
}
#image
{
    width: 18%;
    float: left;
    padding: 2%;
    opacity:1;
}


/* PARTIE STREET FIGHTER */
#sfTitle{
    color: white;
    text-align: center;
    font-family: "Noto Sans";
    font-size: 10%;
    padding: 5%;
}
    /* Container Video */
#gameVideo{
    margin-left: 100px;
    border: white solid 3px;
    margin-top: 20px;
    margin-bottom: 50px;
    padding: 50px;
}
#sfVideo{
    border: solid 5px #084298;
    margin-left: 20px;
}
#sfVideoScnd{
    margin-left: 50px;
    border: solid 5px #084298;
}
#sfDemoTitle{
    color:white;
    margin-top: 50px;
    margin-left: 200px;
}
    /* Container description du jeu */
#sfTitleDesc{
    color:white;
    margin-top: 50px;
    margin-left: 50px;
}
#sfMenu{
    width: 30%;
    height: 30%;
}
#sfGameDesc{
    background-color: #084298;
    color: white;
    padding:20px;
    text-align: center;
    margin-bottom: 50px;
}
#sfDescGame{
    float: left;
    margin-top: 20px;
    margin-left: 100px;
    width: 40%;
    font-size: 20px;
}
    /* Container details du jeu */
#sfGameDetail{
    border: #084298 solid 3px;
    margin-top: 20px;
    margin-bottom: 50px;
    padding: 50px;
}
#sfCharSelect{
    width: 40%;
    height: 40%;
}
#sfGameCat{
    float: right;
    margin-top: 50px;
    margin-right: 170px;
    font-size: 20px;
}
#sfSims{
    width:35%;
    height:35%;
}
#sfElden{
    width: 25%;
    height:25%;
    margin-right: 170px;
    float:left;
}
/*mise en forme du formulaire de contact */
.contactez-nous {
    width: 700px;
    border: 1px solid;
    border-radius: 8px;
    padding: 0 50px 0 50px;
    background: white;
    margin-left: 100px;
}

.contactez-nous > h1 {
    font-weight: 500;
}

.contactez-nous > p {
    font-weight: 300;
}


#cutLine {
    color: white;
    border: solid 3px;
}

#sfTournoiDesc{
    background-color: #084298;
    table-layout: fixed;
    color: white;
    padding:20px;
    margin-bottom: 50px;
    font-size: 20px;
    padding-left: 50px;
}

#table{
    border-collapse : collapse;
    border: 1px solid black;
    padding: 5px;
    size: auto;
}
#table1{
    border-collapse : collapse;
    border: 1px solid black;
    padding: 5px;
    text-align: center;
}

#btnVote{
    border: 2px solid #084298;
    background-color: #084298;
    color: white;
    font-size: 25px;
    margin-bottom: 50px;
    margin-left: 45%;
}
.btn.deco{
    border: 2px solid #084298;
    background-color: #084298;
    color: white;
    font-size: 25px;
    margin-bottom: 50px;
    margin-left: 45%;
}